<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinema Tickets - About</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('partials/header') %>
    <main>
      <h2>About Us</h2>
      <p>This site is developed by:</p>
      <ul>
        <li>Askhat</li>
        <li>Aktilek</li>
        <li>Nurassyl Kendebayev</li>
        <li>Nurassyl Nurdilda</li>
      </ul>
    </main>
</body>

</html>